// Fonts
$tt-thin:  normal normal 100 15px/150% Titillium Web, sans-serif;
$tt-thin-italic:  italic normal 100 15px/150% Titillium Web, sans-serif;
$tt-light:  normal normal 300 15px/150% Titillium Web, sans-serif;
$tt-light-italic:  italic normal 300 15px/150% Titillium Web, sans-serif;
$tt: normal normal normal 15px/150% Titillium Web, sans-serif;
$tt-italic: italic normal normal 15px/150% Titillium Web, sans-serif;
$tt-semibold:  normal normal 600 15px/150% Titillium Web, sans-serif;
$tt-semibold-italic:  normal normal 600 15px/150% Titillium Web, sans-serif;
$tt-bold: normal normal bold 15px/150% Titillium Web, sans-serif;
$tt-bold-italic: italic normal bold 15px/150% Titillium Web, sans-serif;
$tt-black:  normal normal 900 15px/150% Titillium Web, sans-serif;
$tt-black-italic:  italic normal 900 15px/150% Titillium Web, sans-serif;

// Colors
$lightBlue: #60CBF2;
$medBlue: #0094cb;
$menuBG: rgba(0,148,203,0.98);
$heroBG: rgba(0,148,203, 1);
$navBG: rgba(0,148,203, 1);
$lightGray: #f1f1f1;

h1, h2, h3, h4, h5 {padding:0; margin:0;}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {
    font-size: 20px;
}

//* Headlines
//*===========================================

.hdln {
	font: $tt-thin;
	line-height: 1;
}

.hdln--hero {
	color: #f4f4f4;
	font-size: 9vw;
	text-align: center;
	margin: 2% auto .5em auto;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:1000px) {
		font-size: 80px;
	}
}

.hdln--h1 {
	color: $lightBlue;
	font-size: 11vw;
	line-height: .9;
	margin-bottom: 16px;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:760px) {
		font-size: 9vw;
	}
	@media all and (min-width:1000px) {
		font-size: 70px;
		max-width: 400px;
	}
}

.hdln--h2 {
	font-size: 24px;
	margin: 1em auto;
	text-align: center;
	width: calc(100% - 3em);
}

.hdln--weAre {
	font: $tt;
	font-size: 10vw;
	text-shadow: 0 0 14px rgba(0,0,0,1);
	@media all and (min-width:760px) {
		font-size: 77px;
	}
}

.hdln--weAre_M {
	color: #000;
	font: $tt-black;
	font-size: 10vw;
	text-shadow: none;
	@media all and (min-width:760px) {
		font-size: 60px;
	}
	@media all and (min-width:940px) {
		width: 100%;
	}
}

.hdln--weAre_P {
	color: #fff;
	font: $tt-thin;
	font-size: 14vw;
	text-shadow: 0 0 6px rgba(0,0,0,0.5);
	@media all and (min-width:760px) {
		font-size: 7vw;
		margin-bottom: 18px;
		width: 100%;
		text-align: left;
	}
	@media all and (min-width:1024px) {
		font-size: 72px;
	}
}

.hdln--ResM {
	color: #fff;
	font: $tt-black;
	font-size: 5.5vw;
	letter-spacing: 1px;
	line-height: 1.1;
	text-transform: uppercase;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:660px) {
		font-size: 2.25vw;
		max-width: 40vw;
	}
	@media all and (min-width:760px) {
		font-size: 2.8vw;
		max-width: 60vw;
	}
	@media all and (min-width:1024px) {
		font-size: 24px;
		max-width: 50vw;
	}
}

.hdln--resMbtm {
	font-size: 9vw;
	line-height: 1;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:660px) {
		font-size: 4.5vw;
	}
	@media all and (min-width:1024px) {
		font-size: 36px;
	}
}

.flxBloc--weAreBtm_M .hdln--weAre_M {
	color: #B4C327;
}

@media all and (min-width:940px) {
	.flxBloc--weAreTop_M {
		padding: 20px 40px 20px 20px !important; 
		text-align: right;
		.list {width: 100%; }
		.listItem--weAre { text-align: right; }
	}
	.flxBloc--weAreBtm_M {
		padding: 20px 20px 20px 40px !important; 
		text-align: left;
		.list {width: 100%; }
		.listItem--weAre { text-align: left; }
	}
}

.hdln--results {
	color: #fff;
	font: $tt;
	font-size: 5vw;
	line-height: 1.2;
	@include trans(all, 0.3s, ease);
  @media all and (min-width:600px) { font-size: 2.5vw; }
  @media all and (min-width:760px) { font-size: 2vw; }
  @media all and (min-width:1024px) { font-size: 20px; }
}

.hdln--resultsBig {
	color: #fff;
	font: $tt-light;
	font-size: 16vw;
	line-height: 1.2;
	margin-top: 16px;
	mix-blend-mode: unset;
  display: block;
  position: relative;
  @include trans(all, 0.3s, ease);
  @media all and (min-width:600px) { font-size: 8vw; }
  @media all and (min-width:760px) { font-size: 7.5vw; }
  @media all and (min-width:1024px) { font-size: 77px; }
}

//* Text
//*===========================================

.txt {
	color: #222;
	font: $tt;
}

.txt--body {
	@include trans(all, 0.3s, ease);
	@media all and (min-width:760px) {
		font-size: 17px;
		line-height: 1.6;
	}
}

.txt--hero {
	color: #f4f4f4;
	font-size: 5vw;
	text-align: center;
	margin: 1em auto 2em auto;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:600px) {
		font-size: 5vw;
	}
	@media all and (min-width:760px) {
		font-size: 3.5vw;
	}
	@media all and (min-width:1000px) {
		font-size: 30px;
	}
}

.txt--intro {
	@include trans(all, 0.3s, ease);
	@media all and (min-width:600px) {
		font-size: 18px;
		line-height: 1.6;
	}
	@media all and (min-width:760px) {
		font-size: 20px;
		line-height: 1.8;
	}
}

.txt--quote {
	font-style: italic;
	font-size: 17px;
	margin: 0 auto;
	max-width: 900px;
	padding: 0;
	text-align: center;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:760px) {
		font-size: 26px;
		max-width: 800px;
	}
}

.txt--quotee {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 13px;
	text-align: center;
	width: 100%;
}

.txt--graphLbl {
	font: $tt-semibold;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto .5em auto;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:600px) {
		font-size: 80%;
		line-height: 1; 
	}
}

.txt--results {
	color: #fff;
	font: $tt-thin;
	font-size: 7vw;
	line-height: 1.1;
  mix-blend-mode: unset;
  margin: 0;
  display: block;
  position: relative;
  @include trans(all, 0.3s, ease);
  @media all and (min-width:600px) { font-size: 3.5vw; }
  @media all and (min-width:760px) { font-size: 3vw; }
  @media all and (min-width:1024px) { font-size: 31px; }
}

.txt--ResMwords {
	color: #fff;
	font: $tt-semibold;
	font-size: 5.5vw;
	line-height: 1.1;
	margin: 8px 0 0 0;
	@include trans(all, 0.3s, ease);
	@media all and (min-width:660px) {
		font-size: 2.25vw;
		max-width: 40vw;
	}
	@media all and (min-width:760px) {
		font-size: 2.5vw;
		max-width: 50vw;
	}
	@media all and (min-width:1024px) {
		font-size: 23px;
	}
}

//* Lists
//*===========================================

.list { 
	padding: 0;
	margin: 0;
	width: 100%;
}

.listItem {
	line-height: 1;
	list-style-type: none;
}

.listItem--weAre {
	font-size: 4vw;
	line-height: 1.2;
	margin-bottom: 1em;
	text-align: center;
	text-shadow: 0 0 14px rgba(0,0,0,1);
	@media all and (min-width:760px) {
		font-size: 31px; 
	}
}

.listItem--weAre_M {
	color: #000;
	font: $tt-bold;
	font-size: 4vw;
	line-height: 1.2;
	text-shadow: none;
	@media all and (min-width:760px) {
		font-size: 28px; 
	}
	@media all and (min-width:1024px) {
		width: 100%;
		text-align: right;
	}
}

.listItem--weAre_P {
  color: #fff;
  font: $tt-thin;
  font-size: 5vw;
  line-height: 1.2;
	text-shadow: 0 0 6px rgba(0,0,0,0.5);
	@media all and (min-width:760px) {
		font-size: 3vw;
		width: 100%;
		text-align: left;
	}
	@media all and (min-width:1024px) {
		font-size: 31px;
	}
}

.flxBloc--weAreBtm_M .listItem--weAre_M {
	color: #B4C327;
}

.flxBloc--weAreBtm .listItem--weAre:last-child {
	margin-bottom: 1.5em;
}

.nps__scores ul { 
	list-style: none;
	padding: 1em 1em .5em 0;
	margin: 0;
	width: calc(100% - 1em);
	&:first-child {
		background: linear-gradient(
			rgba(255,255,255,1.0), 
			rgba(255,255,255,0.0) 20%);
	}
	&:last-child {
		background: linear-gradient(
			rgba(255,255,255,0.0) 20%, 
			rgba(255,255,255,1.0));
	}
	ul { padding: .25em 0 0 0; }
}

.score__bull {
	background: url('../img/arrow_marker.png') 0 6px/32px no-repeat;
	padding-left: 22px;
	overflow: auto;
	display: block;
}

.score__bull--Lbv {
	background: url('../img/arrow_marker_labov.png') 0 6px/32px no-repeat;
}

.score--marker {
	background-color: #d8d8d8;
	border-radius: 3px;
	color: #fff;
	display: block;
	padding: 2px 8px;
}

.score--markerAlt {
	background-color: $medBlue;
	border-radius: 3px;
	color: #fff;
	display: block;
	padding: 2px 8px;
}

.score--item {
	color: $lightBlue;
	padding-left: 8px;
}

//* NPS Quotes
//*===========================================

